{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}

{#    navbar#}
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>

            <button class="btn btn-primary" type="submit">Login</button>

        </div>
      </div>
    </nav>

{#    heading#}
    <section class="bg-darkblue">
        <div class="container">
            <div class="row down60">
                <div class="col-lg-4 text-white top30 down30">
                    <h1>TuneIN</h1>
                    <h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</h4>
                </div>
                <div class="col-lg-4 text-center align-self-center">
                    <button class="btn bg-white text-darkblue"> Register</button>
                 </div>

                <div class="col-lg-4 text-white top30 down15">
                    <h1>TuneIN</h1>
                    <h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</h4>
                </div>
            </div>
        </div>
    </section>



{% endblock %}