# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\laure\Documents\uva\Informatiekunde\Jaar 1 informatiekunde\WebIK project\webik21_groepsproject\WebIK groepsproject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
